<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hdrezka.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/kedrovnick/hdrezka-app/mac-mini-daemon/server.ts</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/kedrovnick/hdrezka-app/mac-mini-daemon/daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/kedrovnick/hdrezka-app/mac-mini-daemon/daemon.err</string>
    <key>WorkingDirectory</key>
    <string>/Users/kedrovnick/hdrezka-app/mac-mini-daemon</string>
</dict>
</plist>
